# --- | Unity | ---
/**/[Bb]uild/
/**/[Bb]uilds/
/**/[Ll]ibrary/
/**/[Ll]ogs/
/**/[Oo]bj/
/**/[Tt]emp/
/**/[Uu]ser[Ss]ettings/

# --- | VSCode | ---
/**/.vscode/launch.json
/**/.vscode/settings.json

# --- | Visual Studio | ---
/**/*.sln
/**/*.csproj
/**/.vs/
/**/.vsconfig