# --- | Unity | ---
/**/[Ll]ibrary/
/**/[Tt]emp/
/**/[Oo]bj/
/**/[Bb]uild/
/**/[Bb]uilds/
/**/[Ll]ogs/
/**/[Uu]ser[Ss]ettings/

# --- | VSCode | ---
/**/.vscode/launch.json
/**/.vscode/settings.json

# --- | Visual Studio | ---
/**/.vs/
/**/*.sln
/**/*.csproj